@import 'https://fonts.googleapis.com/css?family=Roboto:200,400,500';

body {
  -webkit-font-smoothing: antialiased;

  margin: 0;
  padding: 0;

  background: rgb(240, 240, 240);
}

/* Gamepad display. */

#gamepads {
  margin: 0;
  margin-top: 50px;
  padding: 0;

  list-style: none;

  white-space: nowrap;
  text-align: center;
}
#gamepads > li {
  width: 940px;
  height: 720px;
  margin-left: -30px;

  position: relative;
  z-index: 102;
  display: inline-block;

  white-space: normal;
}
#gamepads > li.template {
  display: none;
}
#gamepads > li::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;

  z-index: 200;

  background: url(images/gamepad-body.png);
  background-size: 730px 499px;
  background-position: 120px 40px;
  background-repeat: no-repeat;
}
#gamepads > li > .index {
  position: absolute;
  left: 437px;
  top: 300px;
  width: 100px;

  font-weight: 500;
  z-index: 500;

  text-shadow: 0 -1px 2px rgba(0, 0, 0, .5);
  font-family: Roboto, Arial;
  font-size: 40px;
  color: rgb(120, 120, 120);
}

#gamepads > li > .name {
  position: absolute;
  left: 385px;
  right: 352px;
  top: 154px;
  height: 30px;
  line-height: 30px;

  z-index: 500;

  font-family: Roboto, Arial;
  font-size: 13px;
  font-weight: bold;
  color: rgb(224, 224, 224);
  text-shadow: 0 0 1px rgb(192, 192, 192);
  text-align: center;
}

/* Buttons. */

#gamepads > li > .buttons > ::after {
  position: absolute;
  content: '';
  border-radius: 100%;
  background: black;

  opacity: 0;
}
#gamepads > li > .buttons > .pressed::after {
  opacity: .5;
}
#gamepads > li > .buttons > .top-shoulder {
  width: 170px;
  height: 70px;

  z-index: 200;

  position: absolute;

  background-size: 164px 60px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(images/shoulder-top.png);
}
#gamepads > li > .buttons > [name='button-left-shoulder-top'] {
  left: 185px;
  top: 66px;
}
#gamepads > li > .buttons > [name='button-right-shoulder-top'] {
  left: 618px;
  top: 64px;
}
#gamepads > li > .buttons > .top-shoulder.pressed {
  margin-top: 5px;
}
#gamepads > li > .buttons > .bottom-shoulder {
  width: 170px;
  height: 70px;

  z-index: 150;

  position: absolute;

  background-size: 127px 44px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(images/shoulder-bottom.png);
}
#gamepads > li > .buttons > [name='button-left-shoulder-bottom'] {
  left: 185px;
  top: 46px;
}
#gamepads > li > .buttons > [name='button-right-shoulder-bottom'] {
  left: 618px;
  top: 44px;
}
#gamepads > li > .buttons > .bottom-shoulder.pressed {
  margin-top: 5px;
}
#gamepads > li > .buttons > .face {
  width: 50px;
  height: 50px;

  z-index: 300;

  position: absolute;

  background-size: 42px 42px;
  background-repeat: no-repeat;
  background-position: 50%;
}
#gamepads > li > .buttons > .face::after {
  left: 5px;
  top: 5px;
  right: 5px;
  bottom: 5px;
}
#gamepads > li > .buttons > [name='button-1'] {
  left: 676px;
  top: 241px;
  background-image: url(images/button-0.png);
}
#gamepads > li > .buttons > [name='button-2'] {
  left: 718px;
  top: 200px;
  background-image: url(images/button-1.png);
}
#gamepads > li > .buttons > [name='button-3'] {
  left: 635px;
  top: 200px;
  background-image: url(images/button-2.png);
}
#gamepads > li > .buttons > [name='button-4'] {
  left: 677px;
  top: 158px;
  background-image: url(images/button-3.png);
}

#gamepads > li > .buttons > [name='button-dpad-bottom'] {
  left: 246px;
  top: 242px;
  background-image: url(images/button-down.png);
}
#gamepads > li > .buttons > [name='button-dpad-right'] {
  left: 286px;
  top: 201px;
  background-image: url(images/button-right.png);
}
#gamepads > li > .buttons > [name='button-dpad-left'] {
  left: 203px;
  top: 201px;
  background-image: url(images/button-left.png);
}
#gamepads > li > .buttons > [name='button-dpad-top'] {
  left: 244px;
  top: 159px;
  background-image: url(images/button-up.png);
}
#gamepads > li > .buttons > .select-start {
  width: 90px;
  height: 90px;

  z-index: 300;

  position: absolute;

  background-size: 41px 41px;
  background-repeat: no-repeat;
  background-position: 50%;

  background-image: url(images/button-select-start.png);
}
#gamepads > li > .buttons > .select-start::after {
  left: 25px;
  top: 25px;
  right: 24px;
  bottom: 25px;
}
#gamepads > li > .buttons > [name='button-select'] {
  left: 388px;
  top: 178px;
}
#gamepads > li > .buttons > [name='button-start'] {
  left: 492px;
  top: 178px;
}

/* Sticks. */

#gamepads > li > .buttons > .stick {
  width: 190px;
  height: 190px;

  z-index: 300;

  position: absolute;

  background-size: 91px 91px;
  background-repeat: no-repeat;
  background-position: 50%;

  background-image: url(images/stick.png);
}
#gamepads > li > .buttons > .stick::after {
  left: 54px;
  top: 54px;
  right: 54px;
  bottom: 54px;
}

#gamepads > li > .buttons > [name='stick-1'] {
  left: 286px;
  top: 243px;
}
#gamepads > li > .buttons > [name='stick-2'] {
  left: 495px;
  top: 243px;
}

/* Iframe mode. */

body.iframe {
  background: inherit;
}
body.iframe #menu {
  width: 100%;
  position: fixed;
}
body.iframe #gamepads {
  padding-top: 60px;
  margin-top: 0;
}
body.iframe h1,
body.iframe h2 {
  display: none;
}
body.iframe #no-gamepads-connected,
body.iframe #no-gamepad-support {
  padding: 400px 50px 0 50px;
}
